<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
>
    <testsuites>
        <!-- Group 1: PHP Syntax and Standards Tests -->
        <testsuite name="syntax">
            <file>tests/SyntaxTest.php</file>
        </testsuite>
        
        <testsuite name="standards">
            <file>tests/PhpStandardTest.php</file>
        </testsuite>
        
        <!-- Combined Group 1 -->
        <testsuite name="group1">
            <file>tests/SyntaxTest.php</file>
            <file>tests/PhpStandardTest.php</file>
        </testsuite>
        
        <!-- Group 2: WordPress Core Functions (to be implemented) -->
        <testsuite name="group2">
            <file>tests/test-theme-setup.php</file>
        </testsuite>
        
        <!-- Group 3: Page Templates Part 1 (to be implemented) -->
        <testsuite name="group3">
            <file>tests/test-page-templates-1.php</file>
        </testsuite>
        
        <!-- Group 4: Page Templates Part 2 (to be implemented) -->
        <testsuite name="group4">
            <file>tests/test-page-templates-2.php</file>
        </testsuite>
        
        <!-- Group 5: Custom Post Types (to be implemented) -->
        <testsuite name="group5">
            <file>tests/test-custom-post-types.php</file>
        </testsuite>
        
        <!-- Group 9: AJAX/API Tests (to be implemented) -->
        <testsuite name="group9">
            <file>tests/test-ajax-handlers.php</file>
        </testsuite>
        
        <!-- Group 10: Security Tests (to be implemented) -->
        <testsuite name="group10">
            <file>tests/test-security.php</file>
        </testsuite>
        
        <!-- All Tests -->
        <testsuite name="all">
            <directory suffix="Test.php">tests</directory>
            <directory suffix="test.php">tests</directory>
            <exclude>tests/bootstrap.php</exclude>
            <exclude>tests/test-helpers.php</exclude>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>node_modules</directory>
            <file>phpunit.xml.dist</file>
        </exclude>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
    </coverage>

    <php>
        <!-- Set error reporting level -->
        <ini name="error_reporting" value="E_ALL"/>
        
        <!-- Display errors -->
        <ini name="display_errors" value="On"/>
        
        <!-- Memory limit for tests -->
        <ini name="memory_limit" value="256M"/>
        
        <!-- WordPress Test Suite Configuration (if available) -->
        <env name="WP_TESTS_DOMAIN" value="example.org"/>
        <env name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <env name="WP_TESTS_TITLE" value="Test Blog"/>
        <env name="WP_PHP_BINARY" value="php"/>
        
        <!-- Theme specific constants -->
        <const name="WP_TESTS_THEME" value="kei-portfolio"/>
        <const name="WP_TESTS_SKIP_INSTALL" value="1"/>
    </php>

    <logging>
        <!-- JUnit XML for CI integration -->
        <junit outputFile="test-results/junit.xml"/>
        
        <!-- Test execution log -->
        <testdoxHtml outputFile="test-results/testdox.html"/>
        <testdoxText outputFile="test-results/testdox.txt"/>
    </logging>
</phpunit>